<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
</head>
<body>
  <div>
    <h1>Quiz</h1>
    <p>Hi, <span id="name">{{ user_name }}</span></p>
    <p>Question: <span id="question">{{ question.question_text }}</span></p>
    <form action="/submit_answer" method="post">
      <input type="text" id="answer" name="answer">
      <input type="hidden" id="answer" name="correct_answer" value={{ question.correct_answer }}>
      <input type="hidden" id="user_name_input" name="name" value={{ user_name }}>
      <button type="submit">Submit Answer</button>
    </form>
  </div>
</body>
</html>